body {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  user-select: none;
}

.ayat {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-bottom: 2px dotted white;
}

.kata {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 15em;
  margin: 0 1rem 0 1rem;
}

.kata .container {
  border: 1px solid whitesmoke;
  color: white;
  margin: 0.25rem;

  display: flex;
  justify-content: space-around;
  width: 100%;
}

.kata .arab {
  font-size: 1.5em;
  transition-duration: 150ms;
  padding: 0.75rem;
}

.kata .arti {
  font-size: 1.375em;
  transition-duration: 150ms;
  padding: 0.75rem;
}

.seen {
  opacity: 1;
}

.unseen {
  opacity: 0;
}
